header(class=styles.header)
  div(class=styles.logo) s /
    b i
    | c e
  div(class=styles.menu)
    a(href='#/about', class=styles.sm) TOOLS
    a(href='#/styles', class=styles.sm) поиск
    a(href='#/blog', , class=styles.im) Я
    //input(placeholder='поиск...')
